.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  gap: 1rem;
  padding: 1.2rem;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.input {
  border-radius: 12px;
  width: 15rem;
  height: 1.4rem;
  border: 1.5px solid #333;
}
.button {
  padding: 1rem 2rem;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.error {
  color: #ff6b6b;
}
